body{
  text-align: center;
  font-family: helvetica;
}

h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}
h2{
  font-size: 32px;
  font-weight: bold;
}
h2.bg{
    background-image: url('../images/the-flatiron-building.png');
    color: white;
    font-size: 23px;
}

#tophead{
  background-image: url('../images/the-flatiron-building.png');
}

ul li{
  font-size: 18px;
  color: white;
  list-style: none;
  padding:5px;
}
li a{
  color: white;
}

p{
  font-size: 14px;
}
#footer{
  background-color: dimgray;
  color: white;
  font-size: 11px;
  text-align: left;
}
#footer ul{
  padding: 0px;
}
#footer span{
  font-size: 11px;
}
#footer ul li{
  display: inline-block;

  padding: 0px;
}
